@import "config";

.button{
    display: inline-block;
    background-color: #cc9694;
    color: #000000;
    
    padding: $gutter/2 $gutter;
    text-align: center;

    transition: color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;

    &:hover{
        background-color:#000000 ;
        color: #cc9694;
    }
}