// ÞETTA ER AFRIT FRÁ ÓLAFI
//Á EFTIR AÐ BREYTA OG SETJA INN RÉTT GILDI
.button{
    display: inline-block;

    width: 100%;
    max-width: 250px;
    padding: 10px 5 px;
    margin: 0;

    color: #000;

    border: 1px solid #000;

    transition: color 500ms ease;

    &:hover{
        color: #0f0;

    }
}