@import "config";



.cart {
    max-width: $max-width;
    margin: 0 auto;

    @media (max-width: $max-width - 1){
        padding-right: $gutter;
        padding-left: $gutter;
    }

    &__row {
        @include row;
        flex-wrap: wrap;

        @media (min-width: 600px){
            flex-wrap: nowrap;
        }
    }


    &__col {
        padding-bottom: 50px;
        @include columns (12);

        @media (min-width: 600px){
            @include columns(6);
        }
    }

    &__productInfo{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-width: 470px;
        max-height: 600px;
    }

    &__nedrabox {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
        
    }

    &__nedstaflex{
        display: flex;
        
    }

    .buttonKarfa{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 30px;
        margin-left: 10px;
    }

    .fjoldi{
        width: 90px;
        height: 30px;
    }




}

.form {
    display: flex;
    justify-content: center;
    max-width: $max-width;
  
    @media (max-width: $max-width - 1){
        padding-right: $gutter;
        padding-left: $gutter;
    }

    &__row {

        @include row;
        flex-wrap: wrap;
        
       
        @media (min-width: 600px){
            flex-wrap: nowrap;
        }
    }


    &__col {
        display: flex;
        flex-direction: column;

        @include columns (12);
        @media (min-width: 600px){
            @include columns(6);
        }


    }

    &__fields{
        display: flex;
        flex-direction: column;
        padding-left: 20px;


    }

    &__monthyear{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        justify-content: space-between;

    }

    &__reitirtexti{
        display: flex;
        flex-direction: column;
 
    }

    &__box{
        display: flex;
        flex-direction: row;
    }

}

input {
    width: 180px;
    height: 25px;
    margin-bottom: 5px;
}

label {
    height: 25px;
    margin-bottom: 5px;

}

select {
    height: 25px;
    margin-bottom: 5px;

}

.buttonkaupa{
    display: flex;
    justify-content: center;
}

.fyrirsogn{
    margin: $gutter 0;
    @media (max-width: $max-width - 1){
        padding-right: $gutter;
        padding-left: $gutter;
    }
}

.textStrong{
    margin: 0;
}





.textNormal{
    margin: 0;
}


