@import "config";

.cart {
    cursor: default;
    max-width: $max-width;
    margin: 0 auto;

    @media (max-width: $max-width - 1){
        padding-right: $gutter;
        padding-left: $gutter;
    }

    &__row {
        @include row;
        flex-wrap: wrap;

        @media (min-width: 800px){
            flex-wrap: nowrap;
        }
    }

    &__col {
        padding-bottom: 20px;
        @include columns (12);

        @media (min-width: 800px){
            @include columns(8);
        }
    }

    &__colImage {
        padding-bottom: 7px;
        @include columns (12);

        @media (min-width: 800px){
            @include columns(4);
        }
    }

    &__productInfo{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-height: 600px;
    }

    &__nedrabox {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
        padding-top: 20px;
        
    }

    &__nedstaflex{
        display: flex; 
        padding-bottom: 7px;   
    }

    &__listProducts{
        flex-grow: 1;
    }

    .buttonKarfa{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-width: 145px;
        height: 35px;
        margin-left: 10px;
        border-radius: 5px;
        border: solid 0.5px;
        border-color: gray;
        font-size: 1em;
        background-color: white;

        transition: background-color 300ms ease-in-out;

        &:hover {
            background-color: $salmon;
            cursor: pointer;
        }

        &__text{
            margin-left: $gutter/2;
        }
    }

    .checkout__image{
        height: 20px;
        width: 20px;
    }

    .fjoldi{
        width: 90px;
        height: 35px;
        border-radius: 5px;
        border: 1px;
        border: solid 0.5px;
        border-color: gray;
        cursor: auto;
        padding: 10px;
        font-size: 1em;
    }
}

.form {

    max-width: $max-width;
    margin: 0 auto;
    @media (max-width: $max-width - 1){
        padding-right: $gutter;
        padding-left: $gutter;
        padding-top: $gutter;
    }

    &__row {
        display: flex;
        @include row;

        @media (max-width: 799px){
            flex-direction: column;
        }
        @media (min-width: 1200px){
            @include offset-right(2);
            @include offset-left(2);
        }

    }

    &__col {
        padding-bottom: $gutter; 
        @include columns (12);
        @media (min-width: 800px){
            @include columns(12);
        }
    }

    &__reitirtexti{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__box{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    &__gildistimi{
        display: flex; 
        justify-content: space-between;
     width: 65%;
    }
}

.reiturinfo {
    width: 65%;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid 0.5px;
    border-color: gray;
    font-size: 1em;
}

.reiturinfo--man {
    width: 40px;
    height: 35px;
    border: solid 0.5px;
    border-color: gray;
    justify-content: center;
    font-size: 1em;
}

.reiturinfo--ar {
    width: 80px;
    height: 35px;
    border: solid 0.5px;
    border-color: gray;
    font-size: 1em;
}

.labelReitir {
    height: 35px;
    margin-bottom: 10px;
}

.buttonkaupa{
    display: flex;
    justify-content: center;
}

.fyrirsogn{
    max-width: $max-width;
    margin: 0 auto;
    @media (max-width: $max-width - 1){
        padding-right: $gutter;
        padding-left: $gutter;
    }
}

.textStrong{
    margin: $gutter/2 0;
}

.textNormal{
    margin: 0;
}


