

@import "config";



.cart {
    max-width: $max-width;
    margin: 0 auto;

    @media (max-width: $max-width - 1){
        padding-right: $gutter;
        padding-left: $gutter;
    }

    &__row {
        @include row;
        flex-wrap: wrap;

        @media (min-width: 600px){
            flex-wrap: nowrap;
        }
    }

    &__row--vertical {
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        @media (min-width: 800px){
            @include columns(8);
        }

    }

    &__col {
        @include columns (12);

        @media (min-width: 600px){
            @include columns(6);
        }
        @media (min-width: 800px){
            @include columns(4);
        }

    }
}

.form {
    max-width: $max-width;
    margin: 0 auto;
    

    @media (max-width: $max-width - 1){
        padding-right: $gutter;
        padding-left: $gutter;
    }

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include row;
        flex-wrap: wrap;

        @media (min-width: 600px){
            flex-wrap: nowrap;
        }
    }

    &__row--vertical {
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        @media (min-width: 800px){
            @include columns(8);
        }

    }

    &__col {
        min-width: 350px;
        @include columns (12);

        @media (min-width: 600px){
            @include columns(6);
        }
        @media (min-width: 800px){
            @include columns(4);
        }

    }
}

