@import "config";

.cart {
    max-width: $max-width;
    margin: 0 auto;

    @media (max-width: $max-width - 1){
        padding-right: $gutter;
        padding-left: $gutter;
    }

    &__row {
        @include row;
        flex-wrap: wrap;

        @media (min-width: 600px){
            flex-wrap: nowrap;
        }
    }

    &__col {
        padding-bottom: 50px;
        @include columns (12);

        @media (min-width: 600px){
            @include columns(6);
        }
    }

    &__productInfo{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-width: 470px;
        max-height: 600px;
    }

    &__nedrabox {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
        
    }

    &__nedstaflex{
        display: flex;    
    }

    .buttonKarfa{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 25px;
        margin-left: 10px;
        background-color: transparent;
        border-radius: 4px;
        border: solid 0.5px;
        border-color: gray;
    }

    .checkout__image{
        height: 15px;
    }

    .fjoldi{
        width: 90px;
        height: 25px;
        border-radius: 4px;
        border: 1px;
        border: solid 0.5px;
        border-color: gray;
    }
}

.form {

    @media (max-width: $max-width - 1){
        padding-right: $gutter;
        padding-left: $gutter;
    }


    &__row {
        display: flex;
        @include row;

        @media (max-width: 799px){
            flex-direction: column;
        }

        @media (min-width: 1200px){
            @include offset(2);
           
        }


    }

    &__col {  
        @include columns (12);
        @media (min-width: 800px){
            @include columns(12);
        }
        @media (min-width: 1200px){
            @include columns(4);
        }


    }

    &__reitirtexti{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__box{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    &__gildistimi{
        display: flex; 
        justify-content: space-between;
     width: 65%;
    }

}

<<<<<<< HEAD
.reiturinfo {
    width: 65%;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: solid 0.5px;
    border-color: gray;
=======
input {
    //width: 180px; Setti comment hér því input boxið tók of mikið pláss
    height: 25px;
    //margin-bottom: 5px; Setti comment hér því talan var ekki í miðjunni
    border: 0px;
    max-width: 90px; //Boxið tók of mikið pláss
>>>>>>> 1625144d222132dbec69341c6cd49a2528ebdd24
}


label {
    height: 25px;
    margin-bottom: 10px;

}

select {
    height: 25px;
    margin-bottom: 5px;

}

.buttonkaupa{
    display: flex;
    justify-content: center;
}

.fyrirsogn{
    margin: $gutter 0;
    @media (max-width: $max-width - 1){
        padding-right: $gutter;
        padding-left: $gutter;
    }
}

.textStrong{
    margin: 0;
}

.textNormal{
    margin: 0;
}


