

@import "config";



.cart {
    max-width: $max-width;
    margin: 0 auto;

    @media (max-width: $max-width - 1){
        padding-right: $gutter;
        padding-left: $gutter;
    }

    &__row {
        @include row;
        flex-wrap: wrap;

        @media (min-width: 600px){
            flex-wrap: nowrap;
        }
    }

    &__row--vertical {
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        @media (min-width: 800px){
            @include columns(8);
        }

    }

    &__col {
        @include columns (12);

        @media (min-width: 600px){
            @include columns(6);
        }


    }
}

.form {
    display: flex;
    justify-content: center;
    max-width: $max-width;
  
    @media (max-width: $max-width - 1){
        padding-right: $gutter;
        padding-left: $gutter;
    }

    &__row {

        @include row;
        flex-wrap: wrap;
        
       
        @media (min-width: 600px){
            flex-wrap: nowrap;
        }
    }


    &__col {
        display: flex;
        flex-direction: column;

        @include columns (12);
        @media (min-width: 600px){
            @include columns(6);
        }


    }

    &__fields{
        display: flex;
        flex-direction: column;
        padding-left: 20px;


    }

    &__monthyear{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        justify-content: space-between;

    }

    &__reitirtexti{
        display: flex;
        flex-direction: column;
 
    }

    &__box{
        display: flex;
        flex-direction: row;
    }

}

input {
    //width: 180px; Setti comment hér því input boxið tók of mikið pláss
    height: 25px;
    //margin-bottom: 5px; Setti comment hér því talan var ekki í miðjunni
    border: 0px;
    max-width: 90px; //Boxið tók of mikið pláss
}

label {
    height: 25px;
    margin-bottom: 5px;

}

select {
    height: 25px;
    margin-bottom: 5px;

}

.buttonkaupa{
    display: flex;
    justify-content: center;
}

.fyrirsogn{
    @media (max-width: $max-width - 1){
        padding-right: $gutter;
        padding-left: $gutter;
    }

}



