@import "config";

.footer {
  width: 100%;
  background-color: $salmon;
}

.footerList {
  max-width: $max-width;
  margin: 0 auto;
  @media (max-width: $max-width - 1) {
    padding-right: $gutter;
    padding-left: $gutter;
  }

  ul li a {
    color: $yellow;
  }

  &__row {
    @include row;
    flex-wrap: wrap;
    @media (min-width: 600px) {
      flex-wrap: wrap;
    }
  }

  &__row--vertical {
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &__col {
    @include columns (6);
    @media (min-width: 900px) {
      @include columns(3);
    }
  }

  &__headline {
    margin: $gutter 0;
  }
  //Set margin sem 1/4 af gutter en skv. verklýsingu
  //ætti það í minnsta lagi að vera 1/2.

  &__item {
    margin: $gutter/4 0;
    color: $lightBlue;
    transition: color 300ms ease-in-out;

    &:hover {
      color: $black;
    }
  }
}

.trademark {
  margin: $gutter/2 0;
  text-align: center;
}
/*Allir litir sem eru í verkefninu:
color: $uglyYellow;
color: $lightBlue;
color: $yellow;
color: $salmon;
color: $black:
color: $white;
*/
