@import "config";

.footer{
    width: 100%;
    background-color: #cc9694;
}

.footerList{
    
    max-width: $max-width;
    margin: 0 auto;

    @media (max-width: $max-width - 1){
        padding-right: $gutter;
        padding-left: $gutter;
    }

&__row{
    @include row;
    flex-wrap: wrap;

    @media (min-width: 600px){
        flex-wrap: wrap;
    }
}

&__row--vertical{
    height:100%;
    display: flex;
    flex-direction: column;  
    list-style: none;
}

&__col{
    @include columns (6);

    @media (min-width: 900px){
        @include columns(3);
    }
}

&__headline{
    margin: $gutter 0;
}

//Set margin sem 1/4 af gutter en skv. verklýsingu
//ætti það í minnsta lagi að vera 1/2.
&__item{
    margin: $gutter/4 0;
    color: #cee8ff;

    transition: color 300ms ease-in-out;
   
    &:hover{
        color:#000000;
    }
}

}

.trademark{
    margin: $gutter/2 0;
    text-align: center;
}


/*Allir litir sem eru í verkefninu:
color: #afb281;
color: #cee8ff;
color: #fcffd2;
color: #cc9694;
color: #000000:
color: #ffffff;
*/
