@import "config";

.grid {
  @media (max-width: $max-width - 1) {
    padding-right: $gutter+10;
    padding-left: $gutter+10;
  }
  @media (min-width: 800px) {
    padding-right: $gutter;
    padding-left: $gutter;
  }
  @media (min-width: 1250px) {
    padding-right: 0;
    padding-left: 0;
  }

  &__row {
    @include row;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: $gutter;
    @media (min-width: 800px) {
      flex-wrap: nowrap;
    }
  }

  &__col {
    margin-top: $gutter/2;
    @include columns (12);
    @media (min-width: 800px) {
      @include columns(8);
      margin-top: 0;
    }
  }
}
@media (max-width: 799px) {
  .grid__col--6 {
    max-width: 100%;
  }
}
@media (min-width: 800px) {
  .grid__col--6 {
    max-width: 50%;
    padding: 10px;
  }
}
