@import "config";

.header {
    width: 100%;
    background-color: $uglyYellow;
}

.headline {
    text-align: center;
}

.menubar {
    padding: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;

    &__links{
        display: flex;
    }

    &__text{
        align-content: space-between;
        text-transform: uppercase;
        padding: 10px;
    }
}

.checkout {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    /*Fer í miðju skjásins undir "menubar" ef width < 700*/

    &__image {
        align-content: center;
        width: 20px;
        height: 20px;
    }

    &__text {
        margin: $gutter/2;
        transition: color 300ms ease ease-in-out;

        &:hover {
            color:$lightBlue;
        }
    }


}





/*Active síða á að vera underline*/
.link{
    color: $black;
    transition: color 300ms ease-in-out;
    text-decoration: none;

    &:hover{
        color:$lightBlue;
    }
}


/*Allir litir sem eru í verkefninu:
color: $uglyYellow;
color: $lightBlue;
color: $yellow;
color: $salmon;
color: $black:
color: $white;
*/
