@import "config";

.header {
    cursor: default;
  //  width: 100%;

    background-color: $uglyYellow;
    margin-bottom: $gutter*2;
}

.headline {
    text-align: center;
    font-family:'Oswald';
    font-size: 48px;
}

.menubar {
    //padding: 10px;
    max-width: $max-width;
    margin: 0 auto;
    display:flex;
    flex-wrap:wrap;

    &__links{
        margin-left:25%;
        width:50%;
        display: flex;
        justify-content:center;
        align-items: center;
        list-style: none;
    }

    &__text{
        align-content: space-between;
        text-transform: uppercase;
        padding: 10px;
    }
}

.checkout {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
    width: 25%;

    @media (max-width: 599px){
        justify-content: center;
        width:100%;

    }

    &__image {
        align-content: center;
        width: 20px;
        height: 20px;
    }

    &__text {
        margin: $gutter/2;
        transition: color 300ms ease ease-in-out;

        &:hover {
            color:$lightBlue;
            cursor: pointer;
        }
    }
}

.menubar__text {
    font-family: 'Oswald';
    font-size: 18px;
}

/*Active síða á að vera underline*/
.link{
    color: $black;
    transition: color 300ms ease-in-out;
    text-decoration: none;
    
    &:hover{
        color:$lightBlue;
        cursor: pointer;
    }
}


/*Allir litir sem eru í verkefninu:
color: $uglyYellow;
color: $lightBlue;
color: $yellow;
color: $salmon;
color: $black:
color: $white;
*/
