// ÞETTA ER AFRIT FRÁ ÓLAFI


@import "config";

.listProduct {
    max-width: $max-width;
    margin: 0 auto;

    @media (max-width: $max-width - 1){
        padding-right: $gutter;
        padding-left: $gutter;
    }

    &__row {
        @include row;
        flex-wrap: wrap;

        @media (min-width: 600px){
            flex-wrap: nowrap;
        }
    }

    &__row--vertical {
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__col {
        @include columns (12);

        @media (min-width: 600px){
            @include columns(6);
        }

        @media (min-width: 1000px){
            @include columns(4);
        }
    }
}

.purchase{

    &__boxes{
        display: flex;
    }
  
    

    &__boxInput{
        flex-grow: 1;
        border: solid 1px;
        border-radius: 5px;
        padding: 10px;
        margin-right: $gutter/2;
        
    }

    &__amount{
    }
}

.checkoutButton {
    
    &__box{
        display: flex;
        justify-content: center;
        padding: 10px;
        align-items: center;
        border: solid 1px;
        border-radius: 5px;

        transition: background-color 300ms ease-in-out;

        &:hover {
            background-color: $salmon;
        }
    }

    &__image {
        align-content: center;
        width: 20px;
        height: 20px;
    }

    &__text {
        margin-left: $gutter/2;
        

        
    }

    



}
