@import "config";

.list {
  max-width: $max-width;
  margin: 0 auto;
  cursor: default;
  @media (max-width: 600px) {
    &__row:nth-child(2) &__col:first-child {
      order: 2;
    }
  }
  @media (max-width: $max-width - 1) {
    padding-right: $gutter;
    padding-left: $gutter;
  }

  &__row {
    @include row;
    flex-wrap: wrap;
    margin-top: $gutter*2;
    @media (min-width: 600px) {
      flex-wrap: nowrap;
    }
  }

  &__row--vertical {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__col {
    @include columns (12);
    @media (min-width: 600px) {
      @include columns(6);
    }
  }
}
