@import "scss/config";
@import "scss/header";
@import "scss/footer";

.staff {
	perspective: 1000px;
	padding: 10px;
}
.staff__starfsmadur{

}
	/* flip the pane when hovered */
.staff__starfsmadur:hover {
	transform: rotateY(180deg);
}

.staff__image {
	width: 100%;
	padding: 10px;
}

/* flip speed goes here */
.staff__starfsmadur {
	transition: 0.6s;
	transform-style: preserve-3d;
}

/* hide back of pane during swap */
.staff__image, .staff__description {
	backface-visibility: hidden;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.staff__image {
	z-index: 2;
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.staff__description {
	transform: rotateY(180deg);
	position: absolute;
	top: 30%;
	text-align: center;
	margin: 100px;
}

.staff__description__name {
	font-weight: bold;
}
