@import "config";
@import "header";
@import "footer";

.staff {
	.staff__starfsmadur {
		.staff__image {
			width: 100%;
		}

		.staff__description {
			text-align: center;
			padding: 100px;
		}

		.staff__description__name {
			font-weight: bold;
		}

		.starfsmadur__flip {
			perspective: 1000px;
		}
		/* flip starfsmadur when hovered */
		.starfsmadur__flip.hover .flip__card,
		.starfsmadur__flip:hover .flip__card {
			transform: rotateY(180deg);
		}

		.flip__card {
			transition: 300ms ease-in-out;
			transform-style: preserve-3d;
		}

		.back,
		.front {
			backface-visibility: hidden;
		}

		.back {
			position: absolute;
			top: 20%;
			width: 100%;
		}

		.front {
			z-index: 2;
			transform: rotateY(0deg);
		}

		.back {
			transform: rotateY(180deg);
		}
	}
}
