@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald:700");
@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: $baseFont;
  font-size: 16px;
}

body {
  margin: 0 auto;
  color: #000;
  background-color: #fff;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  cursor: default;
}
@import "scss/grid";
@import "scss/button";
@import "scss/header";
@import "scss/footer";
@import "scss/list";
@import "scss/images";
@import "scss/text";
@import "scss/listProducts";
@import "scss/staff";
@import "scss/cart";
