@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Oswald", "Open Sans";
  font-size: 16px;
}

body {
  max-width: $max-width;
  margin: 0 auto;
  color: #000;
  background-color: #fff;
}

@import "scss/button";
@import "scss/header";
@import "scss/footer";
@import "scss/list";
@import "scss/images";
@import "scss/text";
@import "scss/listProducts";
@import "scss/staff";
@import "scss/cart";
