@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald:700");
@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  font-family: $baseFont;
  font-size: 16px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  color: #000;
  background-color: #fff;
}

@import "scss/grid";
@import "scss/button";
@import "scss/header";
@import "scss/footer";
@import "scss/list";
@import "scss/images";
@import "scss/text";
@import "scss/listProducts";
@import "scss/staff";
@import "scss/cart";
