@import "scss/config";


* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
  /*Bæta við font hér*/
  
}

body{
  background-color: #ffffff;
  color: #000000;
  max-width: $max-width;
  margin: 0 auto;

}


@import "scss/button";
@import "scss/header";
@import "scss/footer";
@import "scss/list";
@import "scss/images";
@import "scss/text";
